@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin pad {
  @media (max-width: $breakpoint-pad) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $breakpoint-phone) {
    @content;
  }
}
