// RWD breakpoint
$breakpoint-lg-pc: 1280px;
$breakpoint-pad: 768px;
$breakpoint-phone: 430px;

$pc-container-padding: 0 40px;
$mobile-container-padding: 0 20px;
$mobile-nav-bar-height: 60px;
$pc-section-content-width: 80%;
// color
$white: #ece7e1;
$light-white: #ffffff;
$black: #1a1818;
$gray: #939393;
$dark-gray: #353232;
$highlight: #ffd25e;
$liner-yellow: #ff5e5e, #ffd25e, #f5803d;
