// RWD breakpoint
$breakpoint-pad: 768px;
$breakpoint-phone: 430px;
$pc-container-padding: 0 40px;
$mobile-container-padding: 0 20px;
$pc-section-content-width: 80%;
// color
$white: #ece7e1;
$black: #1a1818;
$gray: #939393;
$dark-gray: #353232;
$highlight: #ffd25e;
